.container-redes{
    // display: flex;
    position: fixed;
    padding-left: 1380px;
    padding-top: 50px;
    

}

.redes-lista{
    // position: fixed;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

