.container-redes{
    // display: flex;
    position: fixed;
    // left: 100%;
    padding-left: 1380px;
    padding-top: 150px;
    z-index: 0;
}

.redes-lista{
    // position: fixed;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

.redes{
    height: 31px;

    transition-property: height;
    transition-duration: 0.2s;
}

.redes:hover{
    height: 40px;
    // box-shadow: 1px 1px 1px 0px #000;

}

